@import "~swiper/swiper.scss";
@import "~swiper/components/effect-fade/effect-fade.scss";
@import "mixins";
@import "reset";
@import "transitions";
@import "fonts";
@import "modal";
@import "forms";
html {
  height: 100%;
  &.locked,
  &.scroll-locked,
  Î &.locked body {
    overflow: hidden;
  }
}

body {
  font-family: "Gerbera";
  font-weight: 300;
  background-color: white;
  color: $black;
  cursor: default;
  min-width: 320px;
  height: 100%;

  // &.widthScroll {
  //   overflow-y: scroll !important;
  //   padding-right: 0 !important;
  // }
}

#__nuxt,
.layout-default {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#__layout {
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  & > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
main {
  flex-grow: 1;
  overflow-x: hidden;

  overflow-y: clip;
}
.container {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 400px) {
    padding: 0 10px;
  }
}
$color-primary: #31264f;
$color-secondary: #ccd390;
$color-tertiary: #f8f8f8;

$transition1: 0.3s ease all;
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  line-height: 1.3em;
  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

// UI
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn--glassmorph {
  position: fixed;
  bottom: 20%;
  z-index: 1000;
  color: $color-primary;
  width: 218px;
  height: 60px;
  background: rgba(255, 255, 255, 0.36);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  &:hover,&:active,&:focus {
    background-color: #ffffffb8;
    border: none;
    outline: none;
    color: inherit;
}
}
