// .modal-header {
//   position: absolute;
//   border: none;
//   & .close {
//     width: 32px;
//     height: 32px;
//     background-color: $primary;
//     border-radius: 50%;
//     opacity: 1;
//     color: $white;
//     position: relative;
//     font-size: 0;
//     cursor: pointer;
//     z-index: 9999;
//     top: -15px;
//     right: -15px;
//     transition: 0.3 ease-out;
//     &::after,
//     &::before {
//       position: absolute;
//       content: "";
//       height: 1px;
//       width: 8px;
//       background-color: $white;
//       top: 16px;
//       left: 12px;
//       padding: 0;
//     }
//     &::after {
//       transform: rotate(45deg);
//     }
//     &::before {
//       transform: rotate(-45deg);
//     }
//     @media (max-width: 450px) {
//       top: 15px;
//       right: 20px;
//     }
//     @media (max-width: 390px) {
//       top: 10px;
//       right: 10px;
//     }
//     &:hover {
//       background-color: $white;
//       border: 1px solid $primary;
//       &::after,
//       &::before {
//         background-color: $primary;
//       }
//       transition: 0.3 ease-out;
//     }
//   }
//   @media (max-width: 450px) {
//     border-top-left-radius: 32px;
//     border-top-right-radius: 32px;
//   }
// }
// .close:not(:disabled):not(.disabled):hover,
// .close:not(:disabled):not(.disabled):focus {
//   opacity: 1;
// }
// .modal-footer {
//   display: none;
// }
// .modal-backdrop {
//   background: transparent;

// }
// .modal-body {
//   box-shadow: 0px 20px 60px 0px #17202929;
//   padding: 80px 120px;

//   @media (max-width: 770px) {
//     padding: 46px 26px;
//   }
//   @media (max-width: 450px) {
//     background: #f2f3f7;
//     border-radius: 32px;
//     padding: 60px 26px 46px;
//   }
//   @media (max-width: 390px) {
//     padding: 60px 10px 30px;
//   }
// }
// .modal-content {
//   border: none;
//   border-radius: none;
//   margin: 0 25px;
//   @media (max-width: 450px) {
//     margin: 0 10px;
//     border-radius: 32px;
//   }
// }
// .modal-dialog {
//   max-width: 860px;
// }
