.lock {
    overflow: hidden;
    touch-action: none;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
opacity: 1;
    background: rgba(255, 255, 255, 0);
  
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    transition: none;
  
    overflow-y: scroll;
    overflow-x: hidden;
    touch-action: none;

  }
  

.is-active {
  background-color: red;
}
.my-nav {
  position: fixed;
}
#hero-modal-news___BV_modal_content_.modal-content,
#hero-modal-about___BV_modal_content_.modal-content {
  background: transparent;
}
  .modal-body {
    position: relative;
    padding: 20px 10px;
  }
  
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: red;
    background: transparent;
  }
  
  .btn-open-modal {
    color: white;
    background: green;
    border: 1px solid green;
    border-radius: 4px;
    margin: 20px auto;
    padding: 5px;
    width: 40%;
  }
  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }
  .modal-open {
    position: fixed;
  }
  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity 0.5s ease;
  }
  #hero-modal-about___BV_modal_title_ {
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
   color: $color-primary;
}
#hero-modal-about___BV_modal_body_ {
  display: flex; 
}
#hero-modal-news___BV_modal_header_,
#hero-modal-about___BV_modal_content_.modal-content {
  button.close {
  visibility: hidden !important;
  opacity: 1 !important;
  position: fixed !important;
    right: 30px;
  &::before {
    content:  url("~assets/img/icons/close_ic.svg");
    display: block;
    visibility: visible;
    position: fixed;
    
  }&:hover {
      opacity: 0.5 !important;
    }
}
}
.btn--glassmorph.btn-secondary {
  border: none !important;
  box-shadow: none !important;
  &:active,&:focus,&:hover {
    border: none !important;
    box-shadow: none !important;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: inherit !important;
  box-shadow: none !important;
}
// .modal-header {
//   position: absolute;
//   border: none;
//   & .close {
//     width: 32px;
//     height: 32px;
//     background-color: $primary;
//     border-radius: 50%;
//     opacity: 1;
//     color: $white;
//     position: relative;
//     font-size: 0;
//     cursor: pointer;
//     z-index: 9999;
//     top: -15px;
//     right: -15px;
//     transition: 0.3 ease-out;
//     &::after,
//     &::before {
//       position: absolute;
//       content: "";
//       height: 1px;
//       width: 8px;
//       background-color: $white;
//       top: 16px;
//       left: 12px;
//       padding: 0;
//     }
//     &::after {
//       transform: rotate(45deg);
//     }
//     &::before {
//       transform: rotate(-45deg);
//     }
//     @media (max-width: 450px) {
//       top: 15px;
//       right: 20px;
//     }
//     @media (max-width: 390px) {
//       top: 10px;
//       right: 10px;
//     }
//     &:hover {
//       background-color: $white;
//       border: 1px solid $primary;
//       &::after,
//       &::before {
//         background-color: $primary;
//       }
//       transition: 0.3 ease-out;
//     }
//   }
//   @media (max-width: 450px) {
//     border-top-left-radius: 32px;
//     border-top-right-radius: 32px;
//   }
// }
// .close:not(:disabled):not(.disabled):hover,
// .close:not(:disabled):not(.disabled):focus {
//   opacity: 1;
// }
 .modal-footer {
   display: none;
 }
// .modal-backdrop {
//   background: transparent;

// }
// .modal-body {
//   box-shadow: 0px 20px 60px 0px #17202929;
//   padding: 80px 120px;

//   @media (max-width: 770px) {
//     padding: 46px 26px;
//   }
//   @media (max-width: 450px) {
//     background: #f2f3f7;
//     border-radius: 32px;
//     padding: 60px 26px 46px;
//   }
//   @media (max-width: 390px) {
//     padding: 60px 10px 30px;
//   }
// }
// .modal-content {
//   border: none;
//   border-radius: none;
//   margin: 0 25px;
//   @media (max-width: 450px) {
//     margin: 0 10px;
//     border-radius: 32px;
//   }
// }

/// modal inner
#hero-modal-news___BV_modal_title_.modal-title,
#hero-modal-about___BV_modal_title_.modal-title {
  font-size: 40px;
 color: $color-primary;
 margin-bottom: 50px;
}
#hero-modal-news___BV_modal_body_,
#hero-modal-about___BV_modal_body_ {
   height: 80vh;
  padding: 0;
  .card {
  flex-direction: row-reverse!important;
}
}
 .modal-dialog {
 max-width: 100vw;
 }
.modal-header {
  padding: 0;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-content {
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: none;
}
.card {
  border:none;
  border-radius:0;
}

#hero-modal-news___BV_modal_content_.modal-content,
#hero-modal-about___BV_modal_content_.modal-content {
  width: 60vw;
  margin: 0 auto;
}
.card{
  height: 100%;
}
#nav-scroller.card-body {
  height: 100% !important;
}
.card-header-pills {
  flex-direction: column;
  flex-wrap: nowrap;
}
.list-group-item.active {
  z-index: 2;
  color: inherit;
text-decoration: underline;
  background-color: inherit;
  border-color: inherit;
}
.list-group-item {

  padding: 0;
  background-color: inherit;
  border:none;
}
#listgroup-ex {
  height:70vh !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

